html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

.main {
  text-align: center;
  font-family: Arial, sans-serif;
}

.header {
  height: 150px;
  width: 100%;
  background-color: #b4b1ae;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-container {
  height: 500px;
  width: 100%;
}

.rock-container,
.paper-container,
.scissors-container {
  width: 33.3%;
  height: 100%;
  text-align: center;

  float: left;
}

.rock-container {
  background-image: url("/IMG/rock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.paper-container {
  background-image: url("/IMG/paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.scissors-container {
  background-image: url("/IMG/scissors.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.result-container {
  height: 200px;
  width: 100%;

  background-color: burlywood;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.resetButton {
  position: absolute;
  top: 20px;
  right: 20px;
}
