html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

.main {
  text-align: center;
  font-family: Arial, sans-serif;
}

.header {
  height: 150px;
  width: 100%;
  background-color: #b4b1ae;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}
